* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

nav {
  background-color: rgba(110, 38, 178, 0.906);
  width: 90%;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 20px;
}

#esq {
  height: 40px;
}

.naCozinhaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 70vh;
  border-radius: 20px;
  background-color: rgb(190, 190, 190);
  flex-direction: column;
  overflow-y: scroll;
}

.naCozinha {
  width: 40%;
  height: 40%;
  background-color: rgb(136, 136, 136);
  margin: 80px;
  padding: 30px;
  border-radius: 19px;
  color: white;
  font-size: 21px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.681);
}

.naCozinha button {
  width: 130px;
  height: 40px;
  font-size: 15px;
  border-radius: 12px;
  border: none;
  background: none;
  background-color: rgb(214, 153, 255);
  transition: all 0.25s ease-in-out;
}

.naCozinha button:hover {
  background-color: rgba(110, 38, 178, 0.906);
  color: white;
  scale: 1.05;
  cursor: pointer;
}

.aCaminho {
  width: 40%;
  height: 40%;
  background-color: rgb(136, 136, 136);
  margin: 80px;
  padding: 30px;
  border-radius: 19px;
  color: white;
  font-size: 21px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.681);
}

.aCaminho button:hover {
  background-color: rgba(110, 38, 178, 0.906);
  color: white;
  scale: 1.05;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.pedidoContainer {
  position: relative;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(190, 190, 190);
}



  

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#btGera {
  position: absolute;
  margin-top: 90px;
  margin-left: 60px;
  border: none;
  background: none;
  background-color: rgb(214, 153, 255);
  width: 200px;
  height: 40px;
  border-radius: 12px;
  transition: all 0.25s ease-in-out;
}

#btGera:hover {
  background-color: rgba(110, 38, 178, 0.906);
  color: white;
  scale: 1.05;
  cursor: pointer;
}
::placeholder {
  color: black;
}
input {
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid black;
}

.right {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
}

.model {
  display: none;
}