body{ 
		 background-image: url('../image/tokyo.jpg');
		 background-repeat: no-repeat; 
		 background-size: cover;
		}
		label{ 
			color: blue;
			font-size: 30px;
		}
		.class{
			font-weight: bolder;
		}
		#id{
			font-size: 40px;
		}