body{
background-color: rgb(238,238,238);
}
.head{
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px rgb(118,118,118);
    border-top: solid 2px ;
}
.divhead{
    margin-top: 20px;
    padding: 1%;
    font-size: 20px;
    font-weight: bold;
}

.bottom{
    margin-left: 3%;
}
.dolar{
    color: red;
}
.temp{
color: rgb(59,187,199);
}
.euro{
color: green;
}
.imagem1{

    width:400px;
    
    
}
.imagens {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    
    padding: 40px;

    
}
.textoi1{
    display: flex;
   
}
.temas{
    border-bottom: solid 1px;
    font-size: 20px;
    padding: 9%;
    margin-left: 20px;
    margin-right: 20px;
    font-size:17px ;
}
.tema{
    background-color: white;
    width:215px;
    float: right;
    margin-top: -700px;
    margin-right: 500px;
    height: 400px;
    
}
.tema1{
    border-bottom: solid 1px;
    font-size: 20px;
    padding: 4%;
    font-size: 20px;
}
